body{
    background-color: black;
}
#box1{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px;
    animation-name: sn;
    animation-duration: 0.25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes sn{
    from{
        background-color: blue;
    }
    to{
        background-color: red;
    }

}
#box2{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 550px;
    animation-name: harsh;
    animation-duration: 0.25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes harsh{
    from{
        background-color: blue;
    }
    to{
        background-color:white;
    }

}
#box3{
    height: 100px;
    width: 100px;
    background-color:red;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 1000px;
    animation-name: shanti;
    animation-duration: 0.25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes shanti{
    from{
        background-color:red;
    }
    to{
        background-color:white;
    }

}
#box4{
    height: 100px;
    width: 100px;
    background-color:red;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 100px;
    animation-name: khushi;
    animation-duration: 0.25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes khushi{
    from{
        background-color:red;
    }
    to{
        background-color:blue;
    }

}
#box5{
    height: 100px;
    width: 100px;
    background-color:red;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 100px;
    animation-name: copy;
    animation-duration: 0.25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes copy{
    from{
        background-color:red;
    }
    to{
        background-color:white;
    }

}
#box6{
    height: 100px;
    width: 100px;
    background-color:white;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 550px;
    animation-name: lapi;
    animation-duration: 0.25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes lapi{
    from{
        background-color:white;
    }
    to{
        background-color:black;
    }

}
#box7{
    height: 100px;
    width: 100px;
    background-color:blue;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 1000px;
    animation-name: lapo;
    animation-duration: 0.25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes lapo{
    from{
        background-color:blue;
    }
    to{
        background-color:yellow;
    }

}
#box8{
    height: 100px;
    width: 100px;
    background-color:yellow;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 550px;
    animation-name: lapp;
    animation-duration: 0.25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes lapp{
    from{
        background-color:yellow;
    }
    to{
        background-color:red;
    }

}
#box9{
    height: 100px;
    width: 100px;
    background-color:red;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 1000px;
    animation-name: lao;
    animation-duration: 0.25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes lao{
    from{
        background-color:red;
    }
    to{
        background-color:blue;
    }

}


